@using OnlineShop.UI.Shared.Common
@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@*<Header />
    <div class="page">
        <div class="content px-4">
            @Body
        </div>
    </div>*@
<main>
    <Header />

    @Body

    @*<Footer />*@
</main>

<BlazoredToasts IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="far fa-check-circle"
                ShowProgressBar="true"
                Timeout="3"
                Position="ToastPosition.BottomRight" />