@page "/account/password"
@attribute [Authorize]

<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">

            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <h4 class="card-title mb-4">პაროლის შეცვლა</h4>
                        <EditForm Model="model" OnValidSubmit="SubmitAsync">

                            <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">მიმდინარე პაროლი</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="model.OldPassword" class="form-control" type="password" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ახალი პაროლი</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="model.NewPassword" class="form-control" type="password" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">გაიმეორეთ ახალი პაროლი</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="model.ConfirmNewPassword" class="form-control" type="password" />
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary"> დადასტურება </button>
                        </EditForm>
                    </div>
                </article>
            </main>
        </div>
    </div>
</section>