@page "/account/resetPassword"

<section class="section-content padding-y bg">

    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">პაროლის განახლება</h4></header>
            <EditForm Model="model" OnValidSubmit="SubmitAsync">

                <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label>კოდი რაც მეილზე მოგივიდათ</label>
                    <InputText @bind-Value="model.Token" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>ელ-ფოსტა</label>
                    <InputText @bind-Value="model.Email" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>პაროლი</label>
                    <InputText @bind-Value="model.Password" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>გაიმეორეთ პაროლი</label>
                    <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> დადასტურება </button>
                </div>
            </EditForm>
        </article>
    </div>

    <p class="text-center mt-4">გაქვთ ანგარიში? <a href="/account/login">შესვლა</a></p>
    <br /><br />
</section>