<h3>Component</h3>

@{
    //OnAfterRenderAsync(true);

    if (products != null)
    {

        foreach (var product in products.Products)
        {
            <li>@product.Name</li>
            <li>@product.Price</li>
        }
    }

}